

#footer {
    margin: 100px;
    padding: 100px;
}

#footer {
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: top center;
    width: 1020px;
    height: 410px;
    margin: 0 auto;
    line-height: 41px;
}



